# Some general ignore patterns

[Bb]uild/
[Oo]bj/
*.o
[Dd]ebug*/
[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log

*/bin/*
!*/bin/data/

# IDE-specific ignore patterns

#Code::Blocks
*.depend
*.layout

#Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/

# OS-specific ignore patterns

#Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

